span.title,
span.required,
.emph.render-smcaps,
.emph.render-boldsmcaps {
  font-variant: unset !important;
}

.request-additional-notes {
  font-size: 14px;

  li {
    font-size: 14px;
    line-height: 1.5em;

    &.no-bullet {
      list-style: none;
    }
  }
}
