body {
  font-family: Gotham SSm\ 2r,Gotham SSm A,Gotham SSm B,Helvetica Neue,Helvetica,Arial,sans-serif !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  ul,
  ol,
  blockquote,
  div {
    font-family: Gotham SSm\ 2r,Gotham SSm A,Gotham SSm B,Helvetica Neue,Helvetica,Arial,sans-serif !important;
  }
}

.container-fluid {
  width: unset !important;
}

.top-bar {
  border: none !important;
}

.no-pad {
  padding: 0 !important;
}

nav {
  ul,
  ol,
  li {
    font-size: 15px;
  }
}

#content {
  font-size: 15px !important;
  line-height: 1.47em !important;
}

body {
  p,
  ul,
  ol,
  li,
  blockquote,
  .abstract,
  .sub-note,
  .subnote {
    font-size: 15px !important;
    line-height: 1.47em !important;
    padding-left: 0;
  }
}

.search {
  margin-bottom: 2em;
}

.welcome-addendum {
  a,
  a:visited {
    color: #006C93;
  }

  a:hover,
  a:focus {
    color: #8D2048;
  }
}

.identifier .id-label {
  font-family: Gotham SSm\ 2r,Gotham SSm A,Gotham SSm B,Helvetica Neue,Helvetica,Arial,sans-serif !important;
}

.record-type-badge.resource {
  color: #754A7E;
}

.utk-scout-banner {
  padding: 47px 45px 18px;
  background-color: #58595b !important;

  h1 {
    margin: 0;
    color: #ffffff !important;
    font-size: 23px;
    line-height: 47px;
    font-weight: 700;
  }

  &--subtitle {
    color: #e0e0e0 !important;
    font-size: 18px;
    font-weight: 400;
    margin: -6px 0 0;
  }
}

span.title,
span.required,
.emph.render-smcaps,
.emph.render-boldsmcaps {
  font-variant: unset !important;
}

.request-additional-notes {
  font-size: 14px;

  li {
    font-size: 14px;
    line-height: 1.5em;

    &.no-bullet {
      list-style: none;
    }
  }
}

.collection, .resource {
  color: #8D2048;
}

.button.subject {
  color: #705550;
}
