@import "variables";

body {
  font-family: Gotham SSm\ 2r,Gotham SSm A,Gotham SSm B,Helvetica Neue,Helvetica,Arial,sans-serif !important;
  background-color: $gray-0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  ul,
  ol,
  blockquote,
  div {
    font-family: Gotham SSm\ 2r,Gotham SSm A,Gotham SSm B,Helvetica Neue,Helvetica,Arial,sans-serif !important;
  }
}

.container-fluid {
  width: unset !important;
}

.top-bar {
  border: none !important;
}

.no-pad {
  padding: 0 !important;
}

nav {
  ul,
  ol,
  li {
    font-size: 15px;
  }
}

#content {
  font-size: 15px !important;
  line-height: 1.47em !important;
}

body {
  p,
  ul,
  ol,
  li,
  blockquote,
  .abstract,
  .sub-note,
  .subnote {
    font-size: 15px !important;
    line-height: 1.47em !important;
    padding-left: 0;
  }
}

.search {
  margin-bottom: 2em;
}

.welcome-addendum {
  a,
  a:visited {
    color: $globe;
  }

  a:hover,
  a:focus {
    color: $leconte;
  }
}

.identifier .id-label {
  font-family: Gotham SSm\ 2r,Gotham SSm A,Gotham SSm B,Helvetica Neue,Helvetica,Arial,sans-serif !important;
}

.record-type-badge.resource {
  color: $regalia;
}

.utk-scout-banner {
  padding: 47px 45px 18px;
  background-color: $smokey !important;

  h1 {
    margin: 0;
    color: $white !important;
    font-size: 23px;
    line-height: 47px;
    font-weight: 700;
  }

  &--subtitle {
    color: $gray-1 !important;
    font-size: 18px;
    font-weight: 400;
    margin: -6px 0 0;
  }
}

span.title,
span.required,
.emph.render-smcaps,
.emph.render-boldsmcaps {
  font-variant: unset !important;
}

.request-additional-notes {
  font-size: 14px;

  li {
    font-size: 14px;
    line-height: 1.5em;

    &.no-bullet {
      list-style: none;
    }
  }
}

.collection, .resource {
  color: $leconte;
}

button.subject {
  color: $buckskin;
}

.record-type-badge.repository {
  color: $regalia;
}

#content {
  h1,
  h2,
  h3,
  h4 {
    color: $smokeyx;
    font-weight: 700;
  }

  a,
  a:visited {
    color: $globe;
  }

  a:focus,
  a:hover {
    color: $leconte;
  }
}

.navbar-default {
  background-color: $white;
  box-shadow: $box-shadow-float;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:visited {
  color: $globe;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: $leconte;
}

.recordrow {
  padding: 2em;
  margin-bottom: 2em;
  background-color: $white;
  box-shadow: $box-shadow;
  border: none;

  h3 {
    margin-bottom: 0.5em;
  }
}

.badge-and-identifier {
  display: flex;
  margin-bottom: 0.5em;
}
