.utk-scout-banner {
  padding: 47px 45px 18px;
  background-color: $smokey !important;

  h1 {
    margin: 0;
    color: $white !important;
    font-size: 23px;
    line-height: 47px;
    font-weight: 700;
  }

  &--subtitle {
    color: $gray-1 !important;
    font-size: 18px;
    font-weight: 400;
    margin: -6px 0 0;
  }
}

nav {
  ul,
  ol,
  li {
    font-size: 15px;
  }
}
