body {
  font-family: Gotham SSm\ 2r,Gotham SSm A,Gotham SSm B,Helvetica Neue,Helvetica,Arial,sans-serif !important; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6,
  body p,
  body li,
  body ul,
  body ol,
  body blockquote,
  body div {
    font-family: Gotham SSm\ 2r,Gotham SSm A,Gotham SSm B,Helvetica Neue,Helvetica,Arial,sans-serif !important; }

.utk-scout-banner {
  padding: 47px 45px 18px;
  background-color: #58595b !important; }
  .utk-scout-banner h1 {
    margin: 0;
    color: #ffffff !important;
    font-size: 23px;
    line-height: 47px;
    font-weight: 700; }
  .utk-scout-banner--subtitle {
    color: #e0e0e0 !important;
    font-size: 18px;
    font-weight: 400;
    margin: -6px 0 0; }

.span.title,
.span.required,
.emph.render-smcaps,
.emph.render-boldsmcaps {
  font-variant: unset !important; }
